html{
}

body {
    background: #1a53ff;
}


.top {
    height: 200px;
    text-align: center;
    background-image: url(star.jpg);
    background-repeat: repeat-x;
    background-position: right top;
    border-radius: 25px;
}


.top h1 {
    font-size: 80px;
    background: -webkit-linear-gradient(left, red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top a {
    font-weight: bold;
    color: black;
    background-color: orange;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.content {
    background-color: white;
    background-image: url("yorkie.jpg");
    background-repeat: repeat-y;
    background-position: right top;
    border-radius: 25px;
    padding-left: 10%;
    padding-right: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    font: 75% georgia, sans-serif;
    font-size: 20px;
    font-style: oblique;
    text-align: left;
}

.content a{
    text-decoration: none;
    color: orange;
}

.content p {
    padding-left: 5%;
    padding-right: 5%;
    text-indent: 50px;
}

#contact a {
    text-align: center;
    font-weight: bold;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
