html, body {
    font-family: Sans-serif, "Arial", sans-serif;
    height: 100%;
    width: 100%;
    background-color: #000d33;
    //overflow-x:hidden;
    //overflow-y:hidden;
}

h1 {
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 50px;
}

h2 {
    font-weight: bold;
    text-align: left;
    padding-right: 2%;
    padding-left: 2%;
    color: #ccd9ff;
}

h4 {
    text-align: left;
    padding-right: 2%;
    padding-left: 2%;
    color: #ccd9ff;
}

p {
    padding-left: 5%;
    padding-right: 5%;
    text-indent: 50px;
}

a {
    color: white;
}

.top {
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background-color: grey;
    padding-bottom: 30px;
    padding-top: 10px;
    width: 100%;
    border-radius: 25px;
}

.top a {
    font-weight: bold;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
}

.content {
    font-size: 20px;
    font-style: oblique;
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
    color: #ccd9ff;
}

.content h1,h2,h3,h4 {
    font-style: bold;
}

.content div {
    border-radius: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#who {
    background-color: purple;
}

#knowledge {
    background-color: blue;
}

#skills{
    background-color: purple;
}

#experience {
    background-color: blue;
}

#contact {
    text-align: center;
    font-weight: bold;
    padding: 15px 32px;
    font-size: 25px;
    color: white;
    text-decoration: none;
    background-color: grey;
    border-radius: 25px;
}
