body {
    background-color: #000d33;
}

h1 {
    color: ccd9ff;
    text-align: center;
}

h2 {
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    color: #ccd9ff;
}

a {
    font-weight: bold;
    text-decoration: none;
    text-align: left;
    color: #4d79ff;
}

#main p {
    font: 75% georgia, sans-serif;
    font-size: 20px;
    font-style: oblique;
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
    color: #ccd9ff;
}


pre {
    font: 75% georgia, sans-serif;
    font-size: 20px;
    font-style: oblique;
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
    color: #ccd9ff;
}
